<!-- loop over specified amount of posts -->
{% for post in site.posts limit:include.max %}
    <!-- put each post preview in a card -->
    <div class="{{ include.class }}">
        <div class="card-body">
            <!-- show title date and if specified excerpt text -->
            <a href="{{ post.url }}">
                <h4 class="card-title">{{ post.title }}</h4>
            </a>
            {% include time.html date=post.date %}
            <!-- change button from read post, to continue reading if excerpt text is specified -->
            {% if include.excerpt_available %}
                <p class="card-text">
                    {{ post.excerpt }}
                </p>
                <a href="{{ post.url }}" class="btn btn-primary">
                    読みを続く
                </a>
            {% else %}
                <a href="{{ post.url }}" class="btn btn-primary alone">
                    投稿を読む
                </a>
            {% endif %}
        </div>
    </div>
{% endfor %}

<!-- if less posts are shown than there are posts, show the "show all" button -->
{% if site.posts.size > include.max %}
    <div class="col-12">
        <a href="/posts/">すべてを表示する</a>
    </div>
{% endif %}